In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
import pandas as pd
import arff

In [6]:
df = pd.read_csv("../data/raw/unsw/UNSW_NB15_training-set.csv")

In [7]:
df

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.090200,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.000300,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.005100,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.660800,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.002500,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,...,1,2,0,0,0,2,1,0,Normal,0
82328,82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,...,1,1,0,0,0,3,2,0,Normal,0
82329,82330,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82330,82331,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82331,82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,...,1,1,0,0,0,1,1,0,Normal,0

In [8]:
df.service.value_counts()

-           47153
dns         21367
http         8287
smtp         1851
ftp          1552
ftp-data     1396
pop3          423
ssh           204
ssl            30
snmp           29
dhcp           26
radius          9
irc             5
Name: service, dtype: int64

In [9]:
df.dtypes

id                     int64
dur                  float64
proto                 object
service               object
state                 object
spkts                  int64
dpkts                  int64
sbytes                 int64
dbytes                 int64
rate                 float64
sttl                   int64
dttl                   int64
sload                float64
dload                float64
sloss                  int64
dloss                  int64
sinpkt               float64
dinpkt               float64
sjit                 float64
djit                 float64
swin                   int64
stcpb                  int64
dtcpb                  int64
dwin                   int64
tcprtt               float64
synack               float64
ackdat               float64
smean                  int64
dmean                  int64
trans_depth            int64
response_body_len      int64
ct_srv_src             int64
ct_state_ttl           int64
ct_dst_ltm             int64
ct_src_dport_ltm       int64
ct_dst_sport_ltm       int64
ct_dst_src_ltm         int64
is_ftp_login           int64
ct_ftp_cmd             int64
ct_flw_http_mthd       int64
ct_src_ltm             int64
ct_srv_dst             int64
is_sm_ips_ports        int64
attack_cat            object
label                  int64
dtype: object

In [10]:
# def convert_categorical(colname):
#     df[colname] = df[colname].astype('category')
    
# toconvert = ['proto', 'service', 'state', 'attack_cat']
# for col in toconvert:
#     convert_categorical(col)

In [11]:
df.id.dtype

dtype('int64')

In [12]:
df.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [13]:
df.attack_cat.value_counts()

Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

In [14]:
df.label.value_counts()

1    45332
0    37000
Name: label, dtype: int64

In [15]:
df.columns.get_loc("attack_cat")

43

In [22]:
def convert_target(x):
    if x == 0:
        return "Normal"
    else:
        return "Anomaly"
    
df["label"] = df["label"].apply(lambda x: convert_target(x))

In [30]:
df.drop(["attack_cat"], axis=1).values[:,1:]

array([[1.1e-05, 'udp', '-', ..., 2, 0, 'Normal'],
       [8e-06, 'udp', '-', ..., 2, 0, 'Normal'],
       [5e-06, 'udp', '-', ..., 3, 0, 'Normal'],
       ...,
       [0.0, 'arp', '-', ..., 1, 1, 'Normal'],
       [0.0, 'arp', '-', ..., 1, 1, 'Normal'],
       [9e-06, 'udp', '-', ..., 1, 0, 'Normal']], dtype=object)

In [24]:
df.loc[0].values[1:].tolist()

[1.1e-05,
 'udp',
 '-',
 'INT',
 2,
 0,
 496,
 0,
 90909.0902,
 254,
 0,
 180363632.0,
 0.0,
 0,
 0,
 0.011000000000000001,
 0.0,
 0.0,
 0.0,
 0,
 0,
 0,
 0,
 0.0,
 0.0,
 0.0,
 248,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 0,
 'Normal',
 'Normal']

In [31]:
#arff.dump("../data/raw/unsw/train.arff", df.values, relation='UNSW', names=df.columns)
attributes = []
for c in df.columns:
    if c == "id" or c == "attack_cat": continue
    col = df[c]
    if col.dtype == 'O':
        attributes.append((c, df[c].unique().astype(str).tolist()))
    elif col.dtype == 'int64':
        attributes.append((c, 'INTEGER'))
    elif col.dtype == 'float64':
        attributes.append((c, 'REAL'))

# attributes = [(c, 'NUMERIC') for c in df.columns.values[:-1]]
# attributes += [('target', df[t].unique().astype(str).tolist())]
# t = df.columns[-1]
# data = [df.loc[i].values[:-1].tolist() + [df[t].loc[i]] for i in range(df.shape[0])]


arff_dic = {
    'attributes': attributes,
    'data': df.drop(["attack_cat"], axis=1).values[:,1:],
    'relation': 'myRel',
    'description': ''
}

with open("../data/raw/unsw/train.arff", "w", encoding="utf8") as f:
     arff.dump(arff_dic, f)